USE [RoleBasedItemDb]
GO
/****** Object:  StoredProcedure [dbo].[spAdminRequests_Approve]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spAdminRequests_Approve]
    @RequestId INT,
    @AdminUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.ItemRequests WHERE RequestId = @RequestId)
    BEGIN
        RAISERROR('REQUEST_NOT_FOUND', 16, 1);
        RETURN;
    END

    DECLARE @Status NVARCHAR(20);
    SELECT @Status = Status FROM dbo.ItemRequests WHERE RequestId = @RequestId;

    IF (@Status <> 'Pending' AND @Status <> 'Denied')
    BEGIN
        RAISERROR('INVALID_STATUS', 16, 1);
        RETURN;
    END

    DECLARE @Name NVARCHAR(150), @Description NVARCHAR(500);
    SELECT @Name = Name, @Description = Description
    FROM dbo.ItemRequests
    WHERE RequestId = @RequestId;

    INSERT INTO dbo.Items (Name, Description, CreatedByUserId)
    VALUES (@Name, @Description, @AdminUserId);

    DECLARE @NewItemId INT = CAST(SCOPE_IDENTITY() AS INT);

    UPDATE dbo.ItemRequests
    SET Status = 'Approved',
        DenyReason = NULL,
        AppealMessage = NULL,
        AppealedAt = NULL,
        ReviewedByAdminUserId = @AdminUserId,
        ReviewedAt = SYSUTCDATETIME(),
        UpdatedAt = SYSUTCDATETIME()
    WHERE RequestId = @RequestId;

    SELECT @NewItemId AS NewItemId;
END
GO
/****** Object:  StoredProcedure [dbo].[spAdminRequests_Deny]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Admin denies request (reason required)
CREATE   PROCEDURE [dbo].[spAdminRequests_Deny]
    @RequestId INT,
    @AdminUserId INT,
    @DenyReason NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@DenyReason IS NULL OR LTRIM(RTRIM(@DenyReason)) = '')
    BEGIN
        RAISERROR('REASON_REQUIRED', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.ItemRequests WHERE RequestId = @RequestId)
    BEGIN
        RAISERROR('REQUEST_NOT_FOUND', 16, 1);
        RETURN;
    END

    DECLARE @Status NVARCHAR(20);
    SELECT @Status = Status FROM dbo.ItemRequests WHERE RequestId = @RequestId;

    IF (@Status <> 'Pending')
    BEGIN
        RAISERROR('INVALID_STATUS', 16, 1);
        RETURN;
    END

    UPDATE dbo.ItemRequests
    SET Status = 'Denied',
        DenyReason = @DenyReason,
        ReviewedByAdminUserId = @AdminUserId,
        ReviewedAt = SYSUTCDATETIME(),
        UpdatedAt = SYSUTCDATETIME()
    WHERE RequestId = @RequestId;

    SELECT 1 AS Success;
END
GO
/****** Object:  StoredProcedure [dbo].[spAdminRequests_GetAll]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spAdminRequests_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.RequestId,
        r.RequestedByUserId,
        u.Username AS RequestedByUsername,

        r.Name,
        r.Description,

        r.Status,
        r.DenyReason,

        r.AppealMessage,
        r.AppealedAt,

        r.ReviewedByAdminUserId,
        a.Username AS ReviewedByAdminUsername,
        r.ReviewedAt,

        r.CreatedAt,
        r.UpdatedAt
    FROM dbo.ItemRequests r
    INNER JOIN dbo.Users u ON u.UserId = r.RequestedByUserId
    LEFT JOIN dbo.Users a ON a.UserId = r.ReviewedByAdminUserId
    ORDER BY r.RequestId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spAudit_Insert]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert audit log
CREATE   PROCEDURE [dbo].[spAudit_Insert]
    @ActorUserId INT = NULL,
    @Action NVARCHAR(100),
    @EntityType NVARCHAR(50),
    @EntityId INT,
    @Details NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.AuditLogs (ActorUserId, Action, EntityType, EntityId, Details)
    VALUES (@ActorUserId, @Action, @EntityType, @EntityId, @Details);
END
GO
/****** Object:  StoredProcedure [dbo].[spItems_Create]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Admin adds item directly
CREATE   PROCEDURE [dbo].[spItems_Create]
    @Name NVARCHAR(150),
    @Description NVARCHAR(500) = NULL,
    @CreatedByUserId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Items (Name, Description, CreatedByUserId)
    VALUES (@Name, @Description, @CreatedByUserId);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewItemId;
END
GO
/****** Object:  StoredProcedure [dbo].[spItems_Delete]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spItems_Delete]
    @ItemId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Items
    WHERE ItemId = @ItemId;

    IF @@ROWCOUNT = 0
        RAISERROR('Item not found.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spItems_GetAll]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spItems_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ItemId, Name, Description, CreatedAt
    FROM dbo.Items
    ORDER BY ItemId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spItems_Update]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spItems_Update]
    @ItemId INT,
    @Name NVARCHAR(200),
    @Description NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Items
    SET Name = @Name,
        Description = @Description
    WHERE ItemId = @ItemId;

    IF @@ROWCOUNT = 0
        RAISERROR('Item not found.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spRequests_Appeal]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- User appeals a denied request
CREATE   PROCEDURE [dbo].[spRequests_Appeal]
    @RequestId INT,
    @RequestedByUserId INT,
    @AppealMessage NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@AppealMessage IS NULL OR LTRIM(RTRIM(@AppealMessage)) = '')
    BEGIN
        RAISERROR('APPEAL_REQUIRED', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.ItemRequests
        WHERE RequestId = @RequestId AND RequestedByUserId = @RequestedByUserId
    )
    BEGIN
        RAISERROR('REQUEST_NOT_FOUND', 16, 1);
        RETURN;
    END

    DECLARE @Status NVARCHAR(20);
    SELECT @Status = Status FROM dbo.ItemRequests WHERE RequestId = @RequestId;

    IF (@Status <> 'Denied')
    BEGIN
        RAISERROR('INVALID_STATUS', 16, 1);
        RETURN;
    END

    UPDATE dbo.ItemRequests
    SET AppealMessage = @AppealMessage,
        AppealedAt = SYSUTCDATETIME(),
        UpdatedAt = SYSUTCDATETIME()
    WHERE RequestId = @RequestId;

    SELECT 1 AS Success;
END
GO
/****** Object:  StoredProcedure [dbo].[spRequests_Create]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- User creates item request (Pending)
CREATE   PROCEDURE [dbo].[spRequests_Create]
    @RequestedByUserId INT,
    @Name NVARCHAR(150),
    @Description NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.ItemRequests
        (RequestedByUserId, Name, Description, Status, CreatedAt, UpdatedAt)
    VALUES
        (@RequestedByUserId, @Name, @Description, 'Pending', SYSUTCDATETIME(), SYSUTCDATETIME());

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewRequestId;
END
GO
/****** Object:  StoredProcedure [dbo].[spRequests_GetMine]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spRequests_GetMine]
    @RequestedByUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.RequestId,
        r.RequestedByUserId,
        u.Username AS RequestedByUsername,

        r.Name,
        r.Description,

        r.Status,
        r.DenyReason,

        r.AppealMessage,
        r.AppealedAt,

        r.ReviewedByAdminUserId,
        a.Username AS ReviewedByAdminUsername,
        r.ReviewedAt,

        r.CreatedAt,
        r.UpdatedAt
    FROM dbo.ItemRequests r
    INNER JOIN dbo.Users u ON u.UserId = r.RequestedByUserId
    LEFT JOIN dbo.Users a ON a.UserId = r.ReviewedByAdminUserId
    WHERE r.RequestedByUserId = @RequestedByUserId
    ORDER BY r.RequestId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_Create]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create user
CREATE   PROCEDURE [dbo].[spUsers_Create]
    @Username NVARCHAR(100),
    @PasswordHash NVARCHAR(500),
    @Role NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE Username = @Username)
    BEGIN
        RAISERROR('Username already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Users (Username, PasswordHash, Role, CreatedAt)
    VALUES (@Username, @PasswordHash, @Role, SYSUTCDATETIME());

    SELECT SCOPE_IDENTITY() AS UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_Delete]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spUsers_Delete]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Users
    WHERE UserId = @UserId;

    IF @@ROWCOUNT = 0
        RAISERROR('User not found.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_GetAll]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUsers_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.UserId,
        u.Username,
        u.Role,
        u.CreatedAt
    FROM dbo.Users u
    ORDER BY u.UserId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_GetByUsername]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get user by username
CREATE   PROCEDURE [dbo].[spUsers_GetByUsername]
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserId, Username, PasswordHash, Role, IsActive
    FROM dbo.Users
    WHERE Username = @Username;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_ResetPassword]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reset password (update password hash)
CREATE   PROCEDURE [dbo].[spUsers_ResetPassword]
    @UserId INT,
    @PasswordHash NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Users
    SET PasswordHash = @PasswordHash
    WHERE UserId = @UserId;

    IF @@ROWCOUNT = 0
        RAISERROR('User not found.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_UpdatePasswordHash]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update password hash (used to auto-upgrade legacy plaintext passwords)
CREATE   PROCEDURE [dbo].[spUsers_UpdatePasswordHash]
    @UserId INT,
    @PasswordHash NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Users
    SET PasswordHash = @PasswordHash
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsers_UpdateRole]    Script Date: 1/8/2026 7:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUsers_UpdateRole]
    @UserId INT,
    @Role NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Users
    SET Role = @Role
    WHERE UserId = @UserId;

    IF @@ROWCOUNT = 0
        RAISERROR('User not found.', 16, 1);
END
GO
